<div
  class="flex h-max w-full flex-wrap justify-start gap-2 dark:text-white md:flex-nowrap"
>
  <button
    type="button"
    class="rounded-xl border border-gray-300 bg-white px-4 py-1 text-sm shadow-md transition-all duration-200 hover:bg-gray-100 dark:bg-zinc-800 md:text-xl"
    [ngClass]="{
      'border-gray-500 dark:border-green-500': filter === 'all'
    }"
    (click)="changeFilter.emit('all')"
  >
    All
  </button>
  <button
    type="button"
    class="rounded-xl border border-gray-300 bg-white px-4 py-1 text-sm shadow-md transition-all duration-200 hover:bg-gray-100 dark:bg-zinc-800 md:text-xl"
    [ngClass]="{
      'border-gray-500 dark:border-green-500': filter === 'active'
    }"
    (click)="changeFilter.emit('active')"
  >
    Active
  </button>
  <button
    type="button"
    class="rounded-xl border border-gray-300 bg-white px-4 py-1 text-sm shadow-md transition-all duration-200 hover:bg-gray-100 dark:bg-zinc-800 md:text-xl"
    [ngClass]="{
      'border-gray-500 dark:border-green-500': filter === 'completed'
    }"
    (click)="changeFilter.emit('completed')"
  >
    Completed
  </button>
  <button
    type="button"
    class="rounded-xl border border-gray-300 bg-white px-4 py-1 text-sm shadow-md transition-all duration-200 hover:bg-gray-100 dark:bg-zinc-800 md:text-xl"
    (click)="todosService.clearCompletedTodos()"
  >
    Clear Completed
  </button>
</div>
